.venv
*.egg-info
__pycache__
*.pyc
*.pyo
resources/
!resources/vanilla-rom
!resources/Speedchoice-rom
floating/
*.zip
Patches
PatchScript
outs
*.ips
*.gbc
.snakemake
flips.exe
flips-linux
Speedchoice/
*.log
