.venv*
*.egg-info
__pycache__
*.pyc
*.pyo
kirby/resources/speedchoice-rom
kirby/resources/item-rando
kirby/resources/zxplus
kirby/floating/
*.zip
Patches
PatchScript
outs
*.ips
*.gbc
.snakemake
flips.exe
flips-linux
Speedchoice/
*.log
.env
